<div [hidden]="submitted" style="width: 400px;">
  <form #f="ngForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <div class="dropdown  ml-auto">
        <label class="control-label">Roles    :  </label>
        <select *ngIf="roles" >
          <option *ngFor="let r of roles"  [value]="r.id">{{r.roleName}}</option>
        </select>
        <button type="submit" class="btn btn-success" (click)="addRoleToUser()">Add Role To User</button>
      </div>
    </div>
  </form>
</div>
<div [hidden]="!submitted">
  <h4>You submitted successfully!</h4>
  <!-- <button class="btn btn-success" (click)="newEmployee()">Add</button> -->
</div>

<div class="panel panel-success">
  <div class="panel-heading">Détail Users</div>
  <div class="panel-body">
    <div *ngIf="users">
      <div *ngIf="roles">
      <div *ngFor="let u of users ">
          <div *ngFor="let r of roles ">
            <div class="list-group-item">
              <a href="#" class="list-group-item"><b>UserName : </b> {{u.username}} <b>RoleName : </b>{{r.roleName}} </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
